
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Estilo do header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: #333;
    color: white;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

/* Estilo do menu de navegação */
.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5em;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #ffcc00;
}

/* Estilo para o batão do menu no mobile */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 0.3em;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background: white;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .logo{
        font-size: 0.7em;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background: #333;
        padding: 1em;
        border-radius: 8px;
        width: 200px;
    }

    .nav-links.show {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }
}

