body{
    background-color: bisque;
}
*{margin:0;padding:0;}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  perspective: 2px;
  transform-style: preserve-3d;
}

.section {
  position: relative;
  height: 100vw;
  min-height: 700px;
  transform-style: inherit; 
}

.section::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transform: translateZ(-1px) scale(2,5);
}

.bg1::before {
  background-image: url('https://s1.1zoom.me/b7866/985/Christmas_Snowflakes_Red_background_Template_573816_1920x1080.jpg');
  width: 100%;
  height: 50%;
}
  
                                       /* final Paralax */

.textInicio{
    font-family: 'Mountains of Christmas', serif;
    width: 600px;
    display: flex;
    flex-direction: column;
    height: 200px;
    background-color: green;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 60px;
    justify-content: center;
    color: white;
}

#linha{
    display: grid;
    grid-template-columns: 5% 90% 5%;
    height: 3px
    
}

hr{
    display: flex;
    height: 3px;
    justify-content: center;
    align-items: center;
    border: none;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 60px; 
    background-color: rgba(255, 0, 0, 0);
   
}

                                 /* Efeito Neve */

#snow-container {
    height: 100vh;
    overflow: hidden;
    top: 0;
    transition: opacity 500ms;
    width: 100%;
  }
  
.snow {
    animation: fall  ease-in infinite, sway ease-in-out infinite;
    color: rgb(255, 255, 255);
    position: absolute;
}

                                 /* Efeito Neve */

.descInicio{
    display: flex;
    align-items: center;
    gap: 100px;
    margin: 50px;
}

.opcoes{
    display: flex;
    align-items: center;
    gap: 16px;
}

#inscrever1{
    padding: 10px;
    border-radius: 10px;
}

.agenda{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.container{
    display: flex;
    align-items: center;
    display: flex;
    gap: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 360px;
    background-color: burlywood;
}

.cardText{
    display: flex;
    flex-direction: column;
}

.containerContador{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textInicio:hover{
	animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

@keyframes fall {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      top: 100vh;
      opacity: 1;
    }
  }
  
  @keyframes sway {
    0% {
      margin-left: 0;
    }
    25% {
      margin-left: 50px;
    }
    50% {
      margin-left: -50px;
    }
    75% {
      margin-left: 50px;
    }
    100% {
      margin-left: 0;
    }
  }
  
@media(max-width: 480px){
    .descInicio{
        flex-direction: column;
    }
}