

*{
    padding: 0;
    margin: 0;
}

.inicio{
    height: 900px;
    background-color: bisque;
    background-image: url(https://images.unsplash.com/flagged/photo-1593005510509-d05b264f1c9c?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8fA%3D%3D);
}


.textInicio{
    display: flex;
    flex-direction: column;
    width: 700px;
    gap: 20px;
    font-family: 'Mountains of Christmas', serif;

    background-color: green;
    padding: 10px;
    border-radius: 20px;
    justify-content: center;
    color: white;
}

header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 60px; 
   
}
/* header do site -- guilherme */
/* .opcoes a{
    padding: 10px 20px;
    background: #000;
    text-decoration: none;
}
.opcoes button{
    border: 0;
    background: none;
}

.opcoes a:hover{
    background: #fff;
}
.opcoes button:hover{
    background: #fff;
} só um ideia mais para criaçao depois*/

.descInicio{
    
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 100px;
    margin-left: 100px;
    margin-right: 200px;
}

.opcoes{
    display: flex;
    align-items: center;
    gap: 16px;
}

#inscrever1{
    padding: 10px;
    border-radius: 10px;
}

.agenda{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    gap: 40px;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: burlywood;
}

.cardText{
    display: flex;
    flex-direction: column;
}

.containerContador{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textInicio:hover{
	animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

@media(max-width: 480px){
    .descInicio{
        flex-direction: column;
        gap: 40px;
        margin: 0;
        margin-top: 50px;
    }

    .imagemInicio{
        width: 300px;
        height: 300px;
    }

    .textInicio{
        width: 300px;
    }
}